# Kaggle: EDA of World Happiness
<br>

### URL
- https://www.kaggle.com/datasets/mathurinache/world-happiness-report
<br><br>

### 데이터 간략 소개
- 세계 각 국가 별 행복 지수, 행복 지수와 관련된 여러 지표들을 모아놓은 데이터 셋입니다.
<br><br>

### 데이터 분석 목표
- 코로나 전과 후의 행복 지수의 변화를 확인.
- 행복 지수의 변화에 따른 다른 지표들의 변화 확인.
<br><br>

### 데이터 범위 설정
- 연도 범위
    - 2019년, 2020년, 2021년.
    <br><br>

- 국가 범위
    - 2019년, 2020년, 2021년 csv에 모두 존재하는 국가.
    <br><br>
    
- 컬럼
    - csv의 컬럼이 다르기 때문에, 연도 별로 컬럼을 조정하여 통합 필요.

In [54]:
# 모듈 Import Cell
import numpy as np
import pandas as pd
import plotly.express as px
from glob import glob

In [55]:
# CSV 목록 가져오기
csv_list = glob('./data/*.csv')
csv_list.sort()
csv_list

['./data/2019.csv',
 './data/2020.csv',
 './data/2021.csv',
 './data/country_loc.csv']

In [3]:
# CSV 읽어오기
happy_19 = pd.read_csv(csv_list[0])
happy_20 = pd.read_csv(csv_list[1])
happy_21 = pd.read_csv(csv_list[2])

In [4]:
# 잘 읽어왔는 지 확인.
display(happy_19.sample(5))
display(happy_20.sample(5))
display(happy_21.sample(5))

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
18,19,United States,6.892,1.433,1.457,0.874,0.454,0.280,0.128
99,100,Nepal,4.913,0.446,1.226,0.677,0.439,0.285,0.089
12,13,Israel,7.139,1.276,1.455,1.029,0.371,0.261,0.082
77,78,Bosnia and Herzegovina,5.386,0.945,1.212,0.845,0.212,0.263,0.006
83,84,North Macedonia,5.274,0.983,1.294,0.838,0.345,0.185,0.034

,Country name,Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
39,Bahrain,Middle East and North Africa,6.2273,0.081882,6.387789,6.066811,10.676380,0.876342,68.500000,0.905856,0.133729,0.739347,1.972317,1.296692,1.315324,0.838836,0.610400,0.287454,0.126697,1.751917
110,Lebanon,Middle East and North Africa,4.7715,0.043754,4.857258,4.685742,9.361724,0.824338,67.106583,0.551358,-0.061215,0.902256,1.972317,0.889233,1.192493,0.788671,0.185517,0.158524,0.021518,1.535542
31,Brazil,Latin America and Caribbean,6.3756,0.040791,6.455550,6.295650,9.566435,0.896724,66.480164,0.799805,-0.101812,0.770601,1.972317,0.952680,1.363464,0.766119,0.483293,0.131675,0.106519,2.571860
64,Bolivia,Latin America and Caribbean,5.7475,0.050645,5.846765,5.648235,8.851115,0.803109,63.600471,0.875873,-0.091681,0.822606,1.972317,0.730976,1.142351,0.662446,0.574465,0.138375,0.072943,2.425929
46,Romania,Central and Eastern Europe,6.1237,0.047433,6.216668,6.030732,10.107584,0.825162,67.207237,0.842823,-0.197815,0.934300,1.972317,1.120402,1.194438,0.792295,0.534852,0.068182,0.000830,2.412750

,Country name,Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
51,Colombia,Latin America and Caribbean,6.012,0.061,6.132,5.892,9.557,0.847,68.001,0.837,-0.135,0.841,2.43,1.021,0.866,0.615,0.554,0.100,0.063,2.794
71,Montenegro,Central and Eastern Europe,5.581,0.054,5.686,5.475,9.940,0.858,68.699,0.708,-0.034,0.812,2.43,1.155,0.891,0.637,0.397,0.166,0.081,2.254
127,Chad,Sub-Saharan Africa,4.355,0.094,4.540,4.171,7.364,0.619,48.478,0.579,0.041,0.807,2.43,0.255,0.353,0.000,0.240,0.215,0.084,3.209
77,Tajikistan,Commonwealth of Independent States,5.466,0.034,5.532,5.400,8.091,0.860,64.281,0.832,-0.056,0.553,2.43,0.508,0.895,0.498,0.548,0.152,0.247,2.619
74,Belarus,Commonwealth of Independent States,5.534,0.047,5.625,5.442,9.853,0.910,66.253,0.650,-0.180,0.627,2.43,1.124,1.007,0.560,0.326,0.070,0.199,2.247

In [5]:
display(happy_19.columns)

Index(['Overall rank', 'Country or region', 'Score', 'GDP per capita',
       'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption'],
      dtype='object')

In [6]:
display(happy_20.columns)

Index(['Country name', 'Regional indicator', 'Ladder score',
       'Standard error of ladder score', 'upperwhisker', 'lowerwhisker',
       'Logged GDP per capita', 'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption', 'Ladder score in Dystopia',
       'Explained by: Log GDP per capita', 'Explained by: Social support',
       'Explained by: Healthy life expectancy',
       'Explained by: Freedom to make life choices',
       'Explained by: Generosity', 'Explained by: Perceptions of corruption',
       'Dystopia + residual'],
      dtype='object')

In [7]:
display(happy_21.columns)

Index(['Country name', 'Regional indicator', 'Ladder score',
       'Standard error of ladder score', 'upperwhisker', 'lowerwhisker',
       'Logged GDP per capita', 'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption', 'Ladder score in Dystopia',
       'Explained by: Log GDP per capita', 'Explained by: Social support',
       'Explained by: Healthy life expectancy',
       'Explained by: Freedom to make life choices',
       'Explained by: Generosity', 'Explained by: Perceptions of corruption',
       'Dystopia + residual'],
      dtype='object')

### 통합 컬럼 목록
<br>

- Year:
    - 연도 구분
<br><br>

- Regional indicator:
    - 지역명
    - 2019년 'Regional indicator' 컬럼 추가
    - 2020년, 2021년의 데이터를 통해 2019년의 지역명을 추출 후 대입
<br><br>

- Country name:
    - 국가명
    - 2019년, 2020년, 2021년의 국가명들을 확인하고, 서로 다른 국가명을 하나로 통합
<br><br>

- Ladder:
    - 전체 순위
    - 2019년의 'Overall rank'
    - 2020년, 2021년은 'Ladder score'를 정렬 후 Ladder 생성
<br><br>

- Happy score:
    - 행복 지수(점수)
    - 2019년의 'Score'
    - 2020년, 2021년은 'Ladder score'
<br><br>

- GDP per capita:
    - 1인당 GDP
    - 2019년의 'GDP per capita'
    - 2020년, 2021년은 'Explained by: Log GDP per capita'
<br><br>

- Social support:
    - 해당 국가의 사회적 지원에 대한 점수 지표
    - 2019년의 'Social support'
    - 2020년, 2021년은 'Explained by: Social support'
<br><br>

- Healthy life expectancy:
    - 기대 수명에 대한 점수 지표
    - 2019년의 'Healthy life expectancy'
    - 2020년, 2021년은 'Explained by: Healthy life expectancy'
<br><br>

- Freedom to make life choices:
    - 자신의 삶을 선택할 수 있는 정도, 점수 지표
    - 2019년의 'Freedom to make life choices'
    - 2020년, 2021년은 'Explained by: Freedom to make life choices'
<br><br>

- Generosity:
    - 관대함에 대한 점수 지표
    - 2019년의 'Generosity'
    - 2020년, 2021년은 'Explained by: Generosity'
<br><br>

- Perceptions of corruption:
    - 부패에 대한 인식 점수 지표
    - 2019년의 'Perceptions of corruption'
    - 2020년, 2021년은 'Explained by: Perceptions of corruption'

In [8]:
integrated_columns = [
    'Year',
    'Regional indicator',
    'Country name',
    'Ladder',
    'Happy score',
    'GDP per capita',
    'Social support',
    'Healthy life expectancy',
    'Freedom to make life choices',
    'Generosity',
    'Perceptions of corruption'
]

### 2019년도 데이터 전처리
<br>

1. 데이터 프레임 생성 및 존재하지 않는 컬럼 생성
1. 통합 컬럼으로 컬럼 생성, 데이터 추가
1. 컬럼명이 변경된 데이터 수동 추가
<br><br>

- Regional indicator, Country Name은 2020년, 2021년 전처리 후 처리

In [9]:
# 데이터 프레임 생성 및 존재하지 않는 컬럼 생성
df_happy_19 = pd.DataFrame(columns=[
    'Year', 
    'RI', 
    'CN', 
    'Ladder', 
    'Happy score'
])
df_happy_19

Empty DataFrame
Columns: [Year, RI, CN, Ladder, Happy score]
Index: []

In [10]:
# 통합 컬럼으로 컬럼 생성, 데이터 추가
df_happy_19 = pd.concat([df_happy_19, happy_19[integrated_columns[5:]]], axis=1)
df_happy_19.head()

,Year,RI,CN,Ladder,Happy score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,NaN,NaN,NaN,NaN,NaN,1.340,1.587,0.986,0.596,0.153,0.393
1,NaN,NaN,NaN,NaN,NaN,1.383,1.573,0.996,0.592,0.252,0.410
2,NaN,NaN,NaN,NaN,NaN,1.488,1.582,1.028,0.603,0.271,0.341
3,NaN,NaN,NaN,NaN,NaN,1.380,1.624,1.026,0.591,0.354,0.118
4,NaN,NaN,NaN,NaN,NaN,1.396,1.522,0.999,0.557,0.322,0.298

In [11]:
# 컬럼명이 변경된 데이터 수동 추가
df_happy_19[['Ladder', 'Happy score', 'CN']] = happy_19[['Overall rank', 'Score', 'Country or region']]
df_happy_19['Year'] = 2019
df_happy_19.head()

,Year,RI,CN,Ladder,Happy score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,2019,NaN,Finland,1,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2019,NaN,Denmark,2,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,2019,NaN,Norway,3,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,2019,NaN,Iceland,4,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,2019,NaN,Netherlands,5,7.488,1.396,1.522,0.999,0.557,0.322,0.298

In [12]:
# 데이터 확인
display(happy_19.head())
display(df_happy_19.head())
df_happy_19.info()

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298

,Year,RI,CN,Ladder,Happy score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,2019,NaN,Finland,1,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2019,NaN,Denmark,2,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,2019,NaN,Norway,3,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,2019,NaN,Iceland,4,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,2019,NaN,Netherlands,5,7.488,1.396,1.522,0.999,0.557,0.322,0.298

<class 'pandas.core.frame.DataFrame'>
Index: 156 entries, 0 to 155
Data columns (total 11 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Year                          156 non-null    int64
 1   RI                            0 non-null      object
 2   CN                            156 non-null    object
 3   Ladder                        156 non-null    int64
 4   Happy score                   156 non-null    float64
 5   GDP per capita                156 non-null    float64
 6   Social support                156 non-null    float64
 7   Healthy life expectancy       156 non-null    float64
 8   Freedom to make life choices  156 non-null    float64
 9   Generosity                    156 non-null    float64
 10  Perceptions of corruption     156 non-null    float64
dtypes: float64(7), int64(2), object(2)
memory usage: 14.6+ KB

### 2020년 데이터 전처리
<br>

1. 데이터 프레임 생성 및 컬럼 생성
1. 통합 컬럼으로 데이터 추가

In [13]:
# 데이터 프레임 생성 및 컬럼 생성
df_happy_20 = pd.DataFrame(columns=[
    'Year',
    'Ladder',
    'Happy score',
    'GDP per capita',
    'Social support',
    'Healthy life expectancy',
    'Freedom to make life choices',
    'Generosity',
    'Perceptions of corruption'
])
df_happy_20

Empty DataFrame
Columns: [Year, Ladder, Happy score, GDP per capita, Social support, Healthy life expectancy, Freedom to make life choices, Generosity, Perceptions of corruption]
Index: []

In [14]:
# 통합 컬럼으로 데이터 추가
df_happy_20['Ladder'] = happy_20['Ladder score'].rank(method='dense', ascending=False).astype(int)
df_happy_20[['RI', 'CN', 'Happy score']] = happy_20[['Regional indicator', 'Country name', 'Ladder score']]
df_happy_20[integrated_columns[5:]] = happy_20[happy_20.columns[-7:-1]]
df_happy_20['Year'] = 2020
df_happy_20.head()

,Year,Ladder,Happy score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,RI,CN
0,2020,1,7.8087,1.285190,1.499526,0.961271,0.662317,0.159670,0.477857,Western Europe,Finland
1,2020,2,7.6456,1.326949,1.503449,0.979333,0.665040,0.242793,0.495260,Western Europe,Denmark
2,2020,3,7.5599,1.390774,1.472403,1.040533,0.628954,0.269056,0.407946,Western Europe,Switzerland
3,2020,4,7.5045,1.326502,1.547567,1.000843,0.661981,0.362330,0.144541,Western Europe,Iceland
4,2020,5,7.4880,1.424207,1.495173,1.008072,0.670201,0.287985,0.434101,Western Europe,Norway

In [15]:
# 실수형 데이터, 소수점 3자리로 고정
df_happy_20.iloc[:, -7:] = round(df_happy_20.iloc[:, -7:], 3)
df_happy_20.head()

,Year,Ladder,Happy score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,RI,CN
0,2020,1,7.8087,1.285190,1.500,0.961,0.662,0.160,0.478,Western Europe,Finland
1,2020,2,7.6456,1.326949,1.503,0.979,0.665,0.243,0.495,Western Europe,Denmark
2,2020,3,7.5599,1.390774,1.472,1.041,0.629,0.269,0.408,Western Europe,Switzerland
3,2020,4,7.5045,1.326502,1.548,1.001,0.662,0.362,0.145,Western Europe,Iceland
4,2020,5,7.4880,1.424207,1.495,1.008,0.670,0.288,0.434,Western Europe,Norway

In [16]:
# 데이터 확인
display(happy_20.head())
display(df_happy_20.head())
df_happy_20.info()

,Country name,Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
0,Finland,Western Europe,7.8087,0.031156,7.869766,7.747634,10.639267,0.954330,71.900825,0.949172,-0.059482,0.195445,1.972317,1.285190,1.499526,0.961271,0.662317,0.159670,0.477857,2.762835
1,Denmark,Western Europe,7.6456,0.033492,7.711245,7.579955,10.774001,0.955991,72.402504,0.951444,0.066202,0.168489,1.972317,1.326949,1.503449,0.979333,0.665040,0.242793,0.495260,2.432741
2,Switzerland,Western Europe,7.5599,0.035014,7.628528,7.491272,10.979933,0.942847,74.102448,0.921337,0.105911,0.303728,1.972317,1.390774,1.472403,1.040533,0.628954,0.269056,0.407946,2.350267
3,Iceland,Western Europe,7.5045,0.059616,7.621347,7.387653,10.772559,0.974670,73.000000,0.948892,0.246944,0.711710,1.972317,1.326502,1.547567,1.000843,0.661981,0.362330,0.144541,2.460688
4,Norway,Western Europe,7.4880,0.034837,7.556281,7.419719,11.087804,0.952487,73.200783,0.955750,0.134533,0.263218,1.972317,1.424207,1.495173,1.008072,0.670201,0.287985,0.434101,2.168266

,Year,Ladder,Happy score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,RI,CN
0,2020,1,7.8087,1.285190,1.500,0.961,0.662,0.160,0.478,Western Europe,Finland
1,2020,2,7.6456,1.326949,1.503,0.979,0.665,0.243,0.495,Western Europe,Denmark
2,2020,3,7.5599,1.390774,1.472,1.041,0.629,0.269,0.408,Western Europe,Switzerland
3,2020,4,7.5045,1.326502,1.548,1.001,0.662,0.362,0.145,Western Europe,Iceland
4,2020,5,7.4880,1.424207,1.495,1.008,0.670,0.288,0.434,Western Europe,Norway

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153 entries, 0 to 152
Data columns (total 11 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Year                          153 non-null    int64
 1   Ladder                        153 non-null    int64
 2   Happy score                   153 non-null    float64
 3   GDP per capita                153 non-null    float64
 4   Social support                153 non-null    float64
 5   Healthy life expectancy       153 non-null    float64
 6   Freedom to make life choices  153 non-null    float64
 7   Generosity                    153 non-null    float64
 8   Perceptions of corruption     153 non-null    float64
 9   RI                            153 non-null    object
 10  CN                            153 non-null    object
dtypes: float64(7), int64(2), object(2)
memory usage: 13.3+ KB

### 2021년 데이터 전처리
<br>

1. 데이터 프레임 생성 및 컬럼 생성
1. 통합 컬럼으로 데이터 추가

In [17]:
# 데이터 프레임 생성 및 컬럼 생성
df_happy_21 = pd.DataFrame(columns=[
    'Year',
    'Ladder',
    'Happy score',
    'GDP per capita',
    'Social support',
    'Healthy life expectancy',
    'Freedom to make life choices',
    'Generosity',
    'Perceptions of corruption'
])
df_happy_21

Empty DataFrame
Columns: [Year, Ladder, Happy score, GDP per capita, Social support, Healthy life expectancy, Freedom to make life choices, Generosity, Perceptions of corruption]
Index: []

In [18]:
# 통합 컬럼으로 데이터 추가
df_happy_21['Ladder'] = happy_21['Ladder score'].rank(method='dense', ascending=False).astype(int)
df_happy_21[['RI', 'CN', 'Happy score']] = happy_21[['Regional indicator', 'Country name', 'Ladder score']]
df_happy_21[integrated_columns[5:]] = happy_21[happy_21.columns[-7:-1]]
df_happy_21['Year'] = 2021
df_happy_21.head()

,Year,Ladder,Happy score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,RI,CN
0,2021,1,7.842,1.446,1.106,0.741,0.691,0.124,0.481,Western Europe,Finland
1,2021,2,7.620,1.502,1.108,0.763,0.686,0.208,0.485,Western Europe,Denmark
2,2021,3,7.571,1.566,1.079,0.816,0.653,0.204,0.413,Western Europe,Switzerland
3,2021,4,7.554,1.482,1.172,0.772,0.698,0.293,0.170,Western Europe,Iceland
4,2021,5,7.464,1.501,1.079,0.753,0.647,0.302,0.384,Western Europe,Netherlands

In [19]:
# 데이터 확인
display(happy_21.head())
display(df_happy_21.head())
df_happy_21.info()

,Country name,Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
0,Finland,Western Europe,7.842,0.032,7.904,7.780,10.775,0.954,72.0,0.949,-0.098,0.186,2.43,1.446,1.106,0.741,0.691,0.124,0.481,3.253
1,Denmark,Western Europe,7.620,0.035,7.687,7.552,10.933,0.954,72.7,0.946,0.030,0.179,2.43,1.502,1.108,0.763,0.686,0.208,0.485,2.868
2,Switzerland,Western Europe,7.571,0.036,7.643,7.500,11.117,0.942,74.4,0.919,0.025,0.292,2.43,1.566,1.079,0.816,0.653,0.204,0.413,2.839
3,Iceland,Western Europe,7.554,0.059,7.670,7.438,10.878,0.983,73.0,0.955,0.160,0.673,2.43,1.482,1.172,0.772,0.698,0.293,0.170,2.967
4,Netherlands,Western Europe,7.464,0.027,7.518,7.410,10.932,0.942,72.4,0.913,0.175,0.338,2.43,1.501,1.079,0.753,0.647,0.302,0.384,2.798

,Year,Ladder,Happy score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,RI,CN
0,2021,1,7.842,1.446,1.106,0.741,0.691,0.124,0.481,Western Europe,Finland
1,2021,2,7.620,1.502,1.108,0.763,0.686,0.208,0.485,Western Europe,Denmark
2,2021,3,7.571,1.566,1.079,0.816,0.653,0.204,0.413,Western Europe,Switzerland
3,2021,4,7.554,1.482,1.172,0.772,0.698,0.293,0.170,Western Europe,Iceland
4,2021,5,7.464,1.501,1.079,0.753,0.647,0.302,0.384,Western Europe,Netherlands

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149 entries, 0 to 148
Data columns (total 11 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Year                          149 non-null    int64
 1   Ladder                        149 non-null    int64
 2   Happy score                   149 non-null    float64
 3   GDP per capita                149 non-null    float64
 4   Social support                149 non-null    float64
 5   Healthy life expectancy       149 non-null    float64
 6   Freedom to make life choices  149 non-null    float64
 7   Generosity                    149 non-null    float64
 8   Perceptions of corruption     149 non-null    float64
 9   RI                            149 non-null    object
 10  CN                            149 non-null    object
dtypes: float64(7), int64(2), object(2)
memory usage: 12.9+ KB

### Regional indicator, Country name 전처리
<br>

1. 연도별 Country name 유니크 확인
1. 각 연도별 Regional indicator, Country name만 추출
1. 가장 데이터가 많은 데이터프레임을 기준으로 머지
1. 전처리가 필요한 데이터 확인
1. 전처리가 필요 없는 데이터 확인
1. 통합 데이터 컬럼 생성
1. 전처리 확인
1. 2019년도 데이터 변경
1. 2020년도 데이터 변경
1. 2021년도 데이터 변경

In [20]:
# 2019년 Country name 유니크 확인
df_happy_19.describe(include='O')

         RI       CN
count     0      156
unique    0      156
top     NaN  Finland
freq    NaN        1

In [21]:
# 2020년 Country name 유니크 확인
df_happy_20.describe(include='O')

                        RI       CN
count                  153      153
unique                  10      153
top     Sub-Saharan Africa  Finland
freq                    39        1

In [22]:
# 2021년 Country name 유니크 확인
df_happy_21.describe(include='O')

                        RI       CN
count                  149      149
unique                  10      149
top     Sub-Saharan Africa  Finland
freq                    36        1

In [23]:
# 각 연도별 Regional indicator, Country name만 추출
df_19_rc = df_happy_19[['RI', 'CN']].copy(deep=True)
df_20_rc = df_happy_20[['RI', 'CN']].copy(deep=True)
df_21_rc = df_happy_21[['RI', 'CN']].copy(deep=True)

df_19_rc.columns = ['RI-19', 'CN-19']
df_20_rc.columns = ['RI-20', 'CN-20']
df_21_rc.columns = ['RI-21', 'CN-21']

display(df_19_rc)
display(df_20_rc)
display(df_21_rc)

    RI-19                     CN-19
0     NaN                   Finland
1     NaN                   Denmark
2     NaN                    Norway
3     NaN                   Iceland
4     NaN               Netherlands
..    ...                       ...
151   NaN                    Rwanda
152   NaN                  Tanzania
153   NaN               Afghanistan
154   NaN  Central African Republic
155   NaN               South Sudan

[156 rows x 2 columns]

                  RI-20                     CN-20
0        Western Europe                   Finland
1        Western Europe                   Denmark
2        Western Europe               Switzerland
3        Western Europe                   Iceland
4        Western Europe                    Norway
..                  ...                       ...
148  Sub-Saharan Africa  Central African Republic
149  Sub-Saharan Africa                    Rwanda
150  Sub-Saharan Africa                  Zimbabwe
151  Sub-Saharan Africa               South Sudan
152          South Asia               Afghanistan

[153 rows x 2 columns]

                  RI-21        CN-21
0        Western Europe      Finland
1        Western Europe      Denmark
2        Western Europe  Switzerland
3        Western Europe      Iceland
4        Western Europe  Netherlands
..                  ...          ...
144  Sub-Saharan Africa      Lesotho
145  Sub-Saharan Africa     Botswana
146  Sub-Saharan Africa       Rwanda
147  Sub-Saharan Africa     Zimbabwe
148          South Asia  Afghanistan

[149 rows x 2 columns]

In [24]:
# 가장 데이터가 많은 데이터프레임을 기준으로 머지
df_rc = df_19_rc.merge(df_20_rc, how='outer', left_on='CN-19', right_on='CN-20')
df_rc = df_rc.merge(df_21_rc, how='outer', left_on='CN-19', right_on='CN-21')
display(df_rc.shape)
display(df_rc.head())
display(df_rc.tail())

(166, 6)

  RI-19        CN-19           RI-20        CN-20           RI-21        CN-21
0   NaN      Finland  Western Europe      Finland  Western Europe      Finland
1   NaN      Denmark  Western Europe      Denmark  Western Europe      Denmark
2   NaN       Norway  Western Europe       Norway  Western Europe       Norway
3   NaN      Iceland  Western Europe      Iceland  Western Europe      Iceland
4   NaN  Netherlands  Western Europe  Netherlands  Western Europe  Netherlands

,RI-19,CN-19,RI-20,CN-20,RI-21,CN-21
161,NaN,NaN,Central and Eastern Europe,Macedonia,NaN,NaN
162,NaN,NaN,NaN,NaN,East Asia,Taiwan Province of China
163,NaN,NaN,NaN,NaN,Western Europe,North Cyprus
164,NaN,NaN,NaN,NaN,East Asia,Hong Kong S.A.R. of China
165,NaN,NaN,NaN,NaN,South Asia,Maldives

In [25]:
# 전처리가 필요한 데이터 확인
df_rc['Need pre-process'] = df_rc['CN-19'].isnull() | df_rc['CN-20'].isnull() | df_rc['CN-21'].isnull()
display(df_rc.loc[df_rc['Need pre-process']].shape)
display(df_rc.loc[df_rc['Need pre-process']].head())
display(df_rc.loc[df_rc['Need pre-process']].tail())

(22, 7)

   RI-19              CN-19 RI-20 CN-20 RI-21 CN-21  Need pre-process
24   NaN             Taiwan   NaN   NaN   NaN   NaN              True
28   NaN              Qatar   NaN   NaN   NaN   NaN              True
38   NaN  Trinidad & Tobago   NaN   NaN   NaN   NaN              True
63   NaN    Northern Cyprus   NaN   NaN   NaN   NaN              True
75   NaN          Hong Kong   NaN   NaN   NaN   NaN              True

,RI-19,CN-19,RI-20,CN-20,RI-21,CN-21,Need pre-process
161,NaN,NaN,Central and Eastern Europe,Macedonia,NaN,NaN,True
162,NaN,NaN,NaN,NaN,East Asia,Taiwan Province of China,True
163,NaN,NaN,NaN,NaN,Western Europe,North Cyprus,True
164,NaN,NaN,NaN,NaN,East Asia,Hong Kong S.A.R. of China,True
165,NaN,NaN,NaN,NaN,South Asia,Maldives,True

In [26]:
# 전처리가 필요 없는 데이터 확인
df_rc.loc[~df_rc['Need pre-process']]
display(df_rc.loc[~df_rc['Need pre-process']].shape)
display(df_rc.loc[~df_rc['Need pre-process']].head())
display(df_rc.loc[~df_rc['Need pre-process']].tail())

(144, 7)

,RI-19,CN-19,RI-20,CN-20,RI-21,CN-21,Need pre-process
0,NaN,Finland,Western Europe,Finland,Western Europe,Finland,False
1,NaN,Denmark,Western Europe,Denmark,Western Europe,Denmark,False
2,NaN,Norway,Western Europe,Norway,Western Europe,Norway,False
3,NaN,Iceland,Western Europe,Iceland,Western Europe,Iceland,False
4,NaN,Netherlands,Western Europe,Netherlands,Western Europe,Netherlands,False

,RI-19,CN-19,RI-20,CN-20,RI-21,CN-21,Need pre-process
149,NaN,Malawi,Sub-Saharan Africa,Malawi,Sub-Saharan Africa,Malawi,False
150,NaN,Yemen,Middle East and North Africa,Yemen,Middle East and North Africa,Yemen,False
151,NaN,Rwanda,Sub-Saharan Africa,Rwanda,Sub-Saharan Africa,Rwanda,False
152,NaN,Tanzania,Sub-Saharan Africa,Tanzania,Sub-Saharan Africa,Tanzania,False
153,NaN,Afghanistan,South Asia,Afghanistan,South Asia,Afghanistan,False

In [27]:
# 통합 데이터 컬럼 생성
df_rc[['Regional indicator', 'Country name']] = df_rc.loc[~df_rc['Need pre-process'], ['RI-20', 'CN-20']]

# Taiwan 컬럼 통합
df_rc.loc[[24, 156, 162], ['Regional indicator', 'Country name']] = ['East Asia', 'Taiwan']

# North Cyprus 컬럼 통합
df_rc.loc[[63, 158, 163], ['Regional indicator', 'Country name']] = ['Western Europe', 'North Cyprus']

# Hong Kong 컬럼 통합
df_rc.loc[[75, 159, 164], ['Regional indicator', 'Country name']] = ['East Asia', 'Hong Kong']

# North Macedonia 컬럼 통합
df_rc.loc[[83, 161], ['Regional indicator', 'Country name']] = ['Central and Eastern Europe', 'North Macedonia']

# 2019, 2020, 2021년 csv 중 한 곳이라도 없는 국가 처리
df_rc.loc[
    df_rc['Need pre-process'] & df_rc['Regional indicator'].isnull(), 
    ['Regional indicator', 'Country name']
] = ['Delete', 'Delete']

# 전처리 완료
df_rc

,RI-19,CN-19,RI-20,CN-20,RI-21,CN-21,Need pre-process,Regional indicator,Country name
0,NaN,Finland,Western Europe,Finland,Western Europe,Finland,False,Western Europe,Finland
1,NaN,Denmark,Western Europe,Denmark,Western Europe,Denmark,False,Western Europe,Denmark
2,NaN,Norway,Western Europe,Norway,Western Europe,Norway,False,Western Europe,Norway
3,NaN,Iceland,Western Europe,Iceland,Western Europe,Iceland,False,Western Europe,Iceland
4,NaN,Netherlands,Western Europe,Netherlands,Western Europe,Netherlands,False,Western Europe,Netherlands
...,...,...,...,...,...,...,...,...,...
161,NaN,NaN,Central and Eastern Europe,Macedonia,NaN,NaN,True,Central and Eastern Europe,North Macedonia
162,NaN,NaN,NaN,NaN,East Asia,Taiwan Province of China,True,East Asia,Taiwan
163,NaN,NaN,NaN,NaN,Western Europe,North Cyprus,True,Western Europe,North Cyprus
164,NaN,NaN,NaN,NaN,East Asia,Hong Kong S.A.R. of China,True,East Asia,Hong Kong
165,NaN,NaN,NaN,NaN,South Asia,Maldives,True,Delete,Delete

In [28]:
# 전처리된 Regional indicator, Country name non-null 확인
df_rc.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 166 entries, 0 to 165
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   RI-19               0 non-null      object
 1   CN-19               156 non-null    object
 2   RI-20               153 non-null    object
 3   CN-20               153 non-null    object
 4   RI-21               149 non-null    object
 5   CN-21               149 non-null    object
 6   Need pre-process    166 non-null    bool
 7   Regional indicator  166 non-null    object
 8   Country name        166 non-null    object
dtypes: bool(1), object(8)
memory usage: 15.9+ KB

In [29]:
df_rc.describe(include='O')

,RI-19,CN-19,RI-20,CN-20,RI-21,CN-21,Regional indicator,Country name
count,0,156,153,153,149,149,166,166
unique,0,156,10,153,10,149,11,149
top,NaN,Finland,Sub-Saharan Africa,Finland,Sub-Saharan Africa,Finland,Sub-Saharan Africa,Delete
freq,NaN,1,39,1,36,1,36,11

In [35]:
# 2019년도 Regional indicator, Country name 머지
df_happy_19 = df_happy_19.merge(df_rc[['CN-19', 'Regional indicator', 'Country name']], left_on='CN', right_on='CN-19')
df_happy_19 = df_happy_19.drop(['RI', 'CN', 'CN-19'], axis=1)
df_happy_19 = df_happy_19[integrated_columns]
df_happy_19

,Year,Regional indicator,Country name,Ladder,Happy score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,2019,Western Europe,Finland,1,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2019,Western Europe,Denmark,2,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,2019,Western Europe,Norway,3,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,2019,Western Europe,Iceland,4,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,2019,Western Europe,Netherlands,5,7.488,1.396,1.522,0.999,0.557,0.322,0.298
...,...,...,...,...,...,...,...,...,...,...,...
151,2019,Sub-Saharan Africa,Rwanda,152,3.334,0.359,0.711,0.614,0.555,0.217,0.411
152,2019,Sub-Saharan Africa,Tanzania,153,3.231,0.476,0.885,0.499,0.417,0.276,0.147
153,2019,South Asia,Afghanistan,154,3.203,0.350,0.517,0.361,0.000,0.158,0.025
154,2019,Delete,Delete,155,3.083,0.026,0.000,0.105,0.225,0.235,0.035
155,2019,Delete,Delete,156,2.853,0.306,0.575,0.295,0.010,0.202,0.091

In [36]:
# 2019년도 Regional indicator, Country name non-null 확인
df_happy_19.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 156 entries, 0 to 155
Data columns (total 11 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Year                          156 non-null    int64
 1   Regional indicator            156 non-null    object
 2   Country name                  156 non-null    object
 3   Ladder                        156 non-null    int64
 4   Happy score                   156 non-null    float64
 5   GDP per capita                156 non-null    float64
 6   Social support                156 non-null    float64
 7   Healthy life expectancy       156 non-null    float64
 8   Freedom to make life choices  156 non-null    float64
 9   Generosity                    156 non-null    float64
 10  Perceptions of corruption     156 non-null    float64
dtypes: float64(7), int64(2), object(2)
memory usage: 14.6+ KB

In [37]:
# 2019년도 Regional indicator, Country name 범주형 기술 통계 확인
df_happy_19.describe(include='O')

        Regional indicator Country name
count                  156          156
unique                  11          149
top     Sub-Saharan Africa       Delete
freq                    36            8

In [38]:
# 삭제할 데이터 확인
df_happy_19.loc[df_happy_19['Country name'] == 'Delete']

,Year,Regional indicator,Country name,Ladder,Happy score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
28,2019,Delete,Delete,29,6.374,1.684,1.313,0.871,0.555,0.220,0.167
38,2019,Delete,Delete,39,6.192,1.231,1.477,0.713,0.489,0.185,0.016
94,2019,Delete,Delete,95,5.082,0.813,1.321,0.604,0.457,0.370,0.167
111,2019,Delete,Delete,112,4.668,0.000,0.698,0.268,0.559,0.243,0.270
126,2019,Delete,Delete,127,4.418,0.094,1.125,0.357,0.269,0.212,0.053
148,2019,Delete,Delete,149,3.462,0.619,0.378,0.440,0.013,0.331,0.141
154,2019,Delete,Delete,155,3.083,0.026,0.000,0.105,0.225,0.235,0.035
155,2019,Delete,Delete,156,2.853,0.306,0.575,0.295,0.010,0.202,0.091

In [42]:
# 2020년도 Regional indicator, Country name 변경
df_happy_20 = df_happy_20.merge(df_rc[['CN-20', 'Regional indicator', 'Country name']], left_on='CN', right_on='CN-20')
df_happy_20 = df_happy_20.drop(['RI', 'CN', 'CN-20'], axis=1)
df_happy_20 = df_happy_20[integrated_columns]
df_happy_20

,Year,Regional indicator,Country name,Ladder,Happy score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,2020,Western Europe,Finland,1,7.8087,1.285190,1.500,0.961,0.662,0.160,0.478
1,2020,Western Europe,Denmark,2,7.6456,1.326949,1.503,0.979,0.665,0.243,0.495
2,2020,Western Europe,Switzerland,3,7.5599,1.390774,1.472,1.041,0.629,0.269,0.408
3,2020,Western Europe,Iceland,4,7.5045,1.326502,1.548,1.001,0.662,0.362,0.145
4,2020,Western Europe,Norway,5,7.4880,1.424207,1.495,1.008,0.670,0.288,0.434
...,...,...,...,...,...,...,...,...,...,...,...
148,2020,Delete,Delete,149,3.4759,0.041072,0.000,0.000,0.293,0.254,0.028
149,2020,Sub-Saharan Africa,Rwanda,150,3.3123,0.343243,0.523,0.572,0.604,0.236,0.486
150,2020,Sub-Saharan Africa,Zimbabwe,151,3.2992,0.425564,1.048,0.375,0.377,0.151,0.081
151,2020,Delete,Delete,152,2.8166,0.289083,0.553,0.209,0.066,0.210,0.111
152,2020,South Asia,Afghanistan,153,2.5669,0.300706,0.356,0.266,0.000,0.135,0.001

In [44]:
# 2020년도 Regional indicator, Country name non-null 확인
df_happy_20.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 153 entries, 0 to 152
Data columns (total 11 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Year                          153 non-null    int64
 1   Regional indicator            153 non-null    object
 2   Country name                  153 non-null    object
 3   Ladder                        153 non-null    int64
 4   Happy score                   153 non-null    float64
 5   GDP per capita                153 non-null    float64
 6   Social support                153 non-null    float64
 7   Healthy life expectancy       153 non-null    float64
 8   Freedom to make life choices  153 non-null    float64
 9   Generosity                    153 non-null    float64
 10  Perceptions of corruption     153 non-null    float64
dtypes: float64(7), int64(2), object(2)
memory usage: 14.3+ KB

In [45]:
# 2020년도 Regional indicator, Country name 범주형 기술 통계 확인
df_happy_20.describe(include='O')

        Regional indicator Country name
count                  153          153
unique                  11          149
top     Sub-Saharan Africa       Delete
freq                    36            5

In [51]:
# 삭제할 데이터 확인
df_happy_20.loc[df_happy_20['Country name'] == 'Delete']

,Year,Regional indicator,Country name,Ladder,Happy score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
41,2020,Delete,Delete,42,6.1919,1.167642,1.407,0.659,0.553,0.199,0.015
86,2020,Delete,Delete,87,5.1976,0.937864,1.402,0.914,0.548,0.224,0.072
130,2020,Delete,Delete,131,4.3110,0.062487,0.833,0.277,0.365,0.254,0.081
148,2020,Delete,Delete,149,3.4759,0.041072,0.000,0.000,0.293,0.254,0.028
151,2020,Delete,Delete,152,2.8166,0.289083,0.553,0.209,0.066,0.210,0.111

In [46]:
# 2021년도 Regional indicator, Country name 변경
df_happy_21 = df_happy_21.merge(df_rc[['CN-21', 'Regional indicator', 'Country name']], left_on='CN', right_on='CN-21')
df_happy_21 = df_happy_21.drop(['RI', 'CN', 'CN-21'], axis=1)
df_happy_21 = df_happy_21[integrated_columns]
df_happy_21

,Year,Regional indicator,Country name,Ladder,Happy score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,2021,Western Europe,Finland,1,7.842,1.446,1.106,0.741,0.691,0.124,0.481
1,2021,Western Europe,Denmark,2,7.620,1.502,1.108,0.763,0.686,0.208,0.485
2,2021,Western Europe,Switzerland,3,7.571,1.566,1.079,0.816,0.653,0.204,0.413
3,2021,Western Europe,Iceland,4,7.554,1.482,1.172,0.772,0.698,0.293,0.170
4,2021,Western Europe,Netherlands,5,7.464,1.501,1.079,0.753,0.647,0.302,0.384
...,...,...,...,...,...,...,...,...,...,...,...
144,2021,Sub-Saharan Africa,Lesotho,143,3.512,0.451,0.731,0.007,0.405,0.103,0.015
145,2021,Sub-Saharan Africa,Botswana,144,3.467,1.099,0.724,0.340,0.539,0.027,0.088
146,2021,Sub-Saharan Africa,Rwanda,145,3.415,0.364,0.202,0.407,0.627,0.227,0.493
147,2021,Sub-Saharan Africa,Zimbabwe,146,3.145,0.457,0.649,0.243,0.359,0.157,0.075
148,2021,South Asia,Afghanistan,147,2.523,0.370,0.000,0.126,0.000,0.122,0.010

In [47]:
# 2021년도 Regional indicator, Country name non-null 확인
df_happy_21.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 149 entries, 0 to 148
Data columns (total 11 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Year                          149 non-null    int64
 1   Regional indicator            149 non-null    object
 2   Country name                  149 non-null    object
 3   Ladder                        149 non-null    int64
 4   Happy score                   149 non-null    float64
 5   GDP per capita                149 non-null    float64
 6   Social support                149 non-null    float64
 7   Healthy life expectancy       149 non-null    float64
 8   Freedom to make life choices  149 non-null    float64
 9   Generosity                    149 non-null    float64
 10  Perceptions of corruption     149 non-null    float64
dtypes: float64(7), int64(2), object(2)
memory usage: 14.0+ KB

In [48]:
# 2021년도 Regional indicator, Country name 범주형 기술 통계 확인
df_happy_21.describe(include='O')

        Regional indicator Country name
count                  149          149
unique                  11          149
top     Sub-Saharan Africa      Finland
freq                    36            1

### 하나의 데이터 프레임으로 합치기

In [52]:
pd.concat([
    df_happy_19.loc[df_happy_19['Country name'] != 'Delete'],
    df_happy_20.loc[df_happy_20['Country name'] != 'Delete'],
    df_happy_21.loc[df_happy_21['Country name'] != 'Delete']
], ignore_index=True)

,Year,Regional indicator,Country name,Ladder,Happy score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,2019,Western Europe,Finland,1,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2019,Western Europe,Denmark,2,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,2019,Western Europe,Norway,3,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,2019,Western Europe,Iceland,4,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,2019,Western Europe,Netherlands,5,7.488,1.396,1.522,0.999,0.557,0.322,0.298
...,...,...,...,...,...,...,...,...,...,...,...
439,2021,Sub-Saharan Africa,Lesotho,143,3.512,0.451,0.731,0.007,0.405,0.103,0.015
440,2021,Sub-Saharan Africa,Botswana,144,3.467,1.099,0.724,0.340,0.539,0.027,0.088
441,2021,Sub-Saharan Africa,Rwanda,145,3.415,0.364,0.202,0.407,0.627,0.227,0.493
442,2021,Sub-Saharan Africa,Zimbabwe,146,3.145,0.457,0.649,0.243,0.359,0.157,0.075
443,2021,South Asia,Afghanistan,147,2.523,0.370,0.000,0.126,0.000,0.122,0.010

In [56]:
df_country_loc = pd.read_csv(csv_list[3])
df_country_loc

                    hovertext        lat         lon   marker_size
0                 Afghanistan  33.856399   66.086690   2202.278933
1        United Arab Emirates  23.868634   54.206715  67119.133670
2                     Armenia  40.216608   45.000290  13653.750480
3                     Vietnam  16.657938  106.285841   8041.175445
4                  Azerbaijan  40.220691   47.553910  14403.847330
..                        ...        ...         ...           ...
123                  Honduras  14.822947  -86.589964   5727.974059
124                    Canada  61.469076  -98.142381  49031.377100
125               El Salvador  13.726092  -88.872903   8775.989948
126  United States of America  45.705628 -112.599436  62526.958630
127                    Mexico  23.935372 -102.576350  19746.430050

[128 rows x 4 columns]

In [58]:
df_country_loc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128 entries, 0 to 127
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   hovertext    128 non-null    object
 1   lat          128 non-null    float64
 2   lon          128 non-null    float64
 3   marker_size  128 non-null    float64
dtypes: float64(3), object(1)
memory usage: 4.1+ KB

In [105]:
df_happy_19_loc = df_happy_19.merge(df_country_loc, how='outer', left_on='Country name', right_on='hovertext').copy(deep=True)

In [106]:
df_happy_19_loc

,Year,Regional indicator,Country name,Ladder,Happy score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,hovertext,lat,lon,marker_size
0,2019.0,Western Europe,Finland,1.0,7.769,1.340,1.587,0.986,0.596,0.153,0.393,Finland,64.504094,26.211765,48621.101200
1,2019.0,Western Europe,Denmark,2.0,7.600,1.383,1.573,0.996,0.592,0.252,0.410,Denmark,56.063934,9.876373,57184.199000
2,2019.0,Western Europe,Norway,3.0,7.554,1.488,1.582,1.028,0.603,0.271,0.341,NaN,NaN,NaN,NaN
3,2019.0,Western Europe,Iceland,4.0,7.494,1.380,1.624,1.026,0.591,0.354,0.118,Iceland,65.074276,-18.761029,55873.966980
4,2019.0,Western Europe,Netherlands,5.0,7.488,1.396,1.522,0.999,0.557,0.322,0.298,Netherlands,52.298700,5.512217,57141.350470
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
158,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Congo,-0.837801,15.134462,3298.068716
159,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bosnia and Herz.,44.180768,17.816883,14894.786860
160,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Macedonia,41.605930,21.697903,16506.093740
161,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Dominican Rep.,18.884487,-70.462358,18419.041810
162,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,United States of America,45.705628,-112.599436,62526.958630

### plotly 지도 그리기

In [127]:
fig = px.scatter_mapbox(
    df_happy_19_loc.dropna(), 
    lat='lat',
    lon='lon',
    color='Regional indicator', 
    size='Happy score', 
    color_continuous_scale=px.colors.cyclical.IceFire,
    size_max=10, 
    hover_name='Country name', 
    mapbox_style="carto-darkmatter",
    zoom=1) 
fig.update_xaxes(rangeslider_visible=True)
fig.show()